.education {
  padding: 4em 0;
}

.education-item {
  background-color: var(--card-background);
  padding: 2em;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.education-item h3 {
  margin-top: 0;
}

.education-item ul {
  padding-left: 20px;
}
